language: python
python:
  - "2.6"
  - "2.7"
  - "3.4"
env:
  - TOXENV=py26-dj13
  - TOXENV=py26-dj14
  - TOXENV=py26-dj15
  - TOXENV=py26-dj16
  - TOXENV=py26-dj17
  - TOXENV=py27-dj13
  - TOXENV=py27-dj14
  - TOXENV=py27-dj15
  - TOXENV=py27-dj16
  - TOXENV=py27-dj17
  - TOXENV=py34-dj15
  - TOXENV=py34-dj16
  - TOXENV=py34-dj17
install:
  - pip install pytest-django>=1.7.1
  - pip install tox
  - pip install .
script:
  - tox